$black: #000;
$font-family-sans-serif: "Merriweather Sans", sans-serif;
$font-family-serif: "Lora", serif;
$headings-font-family: $font-family-serif;
$font-size-base: 1.2rem;
$base-space: 2rem;

@import "../../vendor/bootstrap/bootstrap";

body {
  font-family: $font-family-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  padding: $base-space/2 0 $base-space 0;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-sans-serif;
    a {
        text-decoration: none;
        color: $black;
    }
}

h2 {
    margin-top: $base-space/2;
}

footer {
    font-size: $font-size-base * 0.5;
    color: #000;
    a{
        color: #000;
    }
}

header {
    font-size: $font-size-base * 0.7;
    padding-bottom: $base-space/2;
    margin-bottom: $base-space;
    a, a.nav-link{
        color: $gray-500;
        font-family: $font-family-sans-serif;
    }
    a.nav-link:hover{
        color: $black;
    }
    li.social{
        a:hover{
            color: $black;
        }
    }
    h1{
        font-weight: 500;
        font-size: $font-size-base * 1.2;
        margin: 0 0 $base-space/4 0;
        a{
            color: $gray-500;
        }
        a:hover{
            color: $black;
        }
    }
    .nav{
        justify-content: flex-start;
    }
}

main {
    min-height: 800px;
}

article {
    margin-bottom: $base-space;
    margin-bottom: $base-space*2;
    h1, h2{
        font-weight: 800;
    }
    time {
        font-size: 0.8rem;
        color: $gray-800;
        display: block;
        margin-bottom: $base-space*1.5;
    }
    p{
        line-height: $font-size-base*1.6;
        text-rendering: optimizeLegibility;
        margin-bottom: $base-space*1.4;
        color: $gray-800;
        &:last-child{
            margin-bottom: $base-space*3;
        }
    }
    &.list{
        p{
            font-size: $font-size-base/1.15;
            margin-bottom: $base-space;
        }
    }
}




@include media-breakpoint-up(lg) {

    header {
        .nav{
            justify-content: flex-end;
        }
    }
}


