{{ define "main" }}
  {{ $posts := where site.RegularPages "Type" "!=" "info" }}
  {{ $paginator := .Paginate $posts }}
  {{ range $paginator.Pages }}
    <article class="list">
      <h2><a href="{{ .RelPermalink }}" title="{{ .LinkTitle }}">{{ .LinkTitle }}</a></h2>
      {{if not (eq .Type "info")}}
      {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $dateHuman := .Date | time.Format ":date_long" }}
      <span class="date">{{ $dateHuman }}</span>
      {{end}}
      {{if .Site.Params.full_article_in_list}}
      {{ .Content }}
      {{else}}
      {{ .Params.description }}
      {{end}}
    </article>
  {{ end }}
  {{ partial "pagination.html" (dict "paginator" $paginator) }}
{{ end }}


